.manage-patient-container {
    padding: 20px;
  }
  
  .patients-list {
    list-style-type: none;
    padding: 0;
  }
  
  .patient-item {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .patient-item:hover {
    background-color: #f9f9f9;
  }
  
  .add-button {
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .patient-details {
    padding: 20px;
  }
  
  .back-button {
    margin-bottom: 20px;
    cursor: pointer;
  }
  