.navbar {
    background: #2f465f;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
  }
  
  .navbar-logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: flex

  }
  
  .nav-links:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 768px) {
    .nav-menu {
      flex-direction: column;
      display: none;
    }
  
    .nav-menu.active {
      display: flex;
    }
  }